.group:hover .details {
  opacity: 1;
  max-height: 1000px; /* Large enough to show the content */
  transform: translateY(0);
}

.cardContainer::before {
  content: attr(dataBeforeText);
  color: #932432;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 60%;
  right: calc(-100% + 40px);
  padding-left: 47px;
}

.cardContainer:nth-child(even)::before {
  width: 100%;
  border-left: none;
  right: calc(100% + 40px);
  padding-right: 47px;
}

@media screen and (max-width: 880px) {
  .cardContainer::before {
    display: none;
  }
}
